* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
}

/* card */
.card {
    width: 350px;
    background: #ffffff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    text-align: center;
    /* border: 1px solid black; */
}

/* heading */
.card h1 {
    margin-bottom: 20px;
}

/* search bar */
.search {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.search input {
    /* flex: 1; */
    width: 200px;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    /* border: 1px solid #ccc; */
    border: none;
    outline: none;
    background: rgba(128, 128, 128, 0.17);
}

.search-btn {
    padding: 12px 18px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #2563eb;   /* blue */
    color: white;
    transition: 0.3s;
}

.search-btn:hover {
    background: #1e40af;
}



/* weather data */
.weather {
    margin-top: 25px;
}

.weather .city {
    font-size: 22px;
}

.weather .temp {
    font-size: 45px;
    margin: 10px 0;
}

.weather .desc {
    font-size: 16px;
    text-transform: capitalize;
    color: #555;
}

@media (max-width: 480px){
    main.card{
        width: 320px;
        padding: 25px;
    }
    .search-btn{
        width: 85px;
    }
 
    .search input{
        width: 180px;
    }
    .search{
        gap: 5px;
    }
}
